<a href="https://colab.research.google.com/github/feyuix/basic-python/blob/main/belajar-python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data = False
data_int = int(data)

print(data, type(data))
print(data_int,type(data_int))

False <class 'bool'>
0 <class 'int'>

To Float

In [ ]:
data = False
data_float = float(data)

print(data, type(data))
print(data_float, type(data_float))

False <class 'bool'>
0.0 <class 'float'>

In [ ]:
#to boolean
#float/int

In [ ]:
data = "Spiderman"
dt = "Batam"
data = 12

print(data)

12

In [ ]:
data = "string"
data_bool = bool(data)
print(data_bool)

True

In [ ]:
data  = "Batman"
data = list(data)

print(data)

['B', 'a', 't', 'm', 'a', 'n']

In [ ]:
data= 10
data = 10.0
data = "Spiderman"
print(data)

Spiderman

In [ ]:
data = (1,2,3,4)
print(type(data))

<class 'tuple'>

In [ ]:
data = '10'

print(type(data))

<class 'str'>

In [ ]:
# Penambahan
penambahan = 5 + 4
print(penambahan)

# Pengurangan
pengurangan = 5 - 4
print(pengurangan)

9
1

In [ ]:
x= [1,2,3]
y=x
print(x is y)

True

In [ ]:
a = [1,2]
b=[1,2]
print(a==b)
print(id(a))
print(id(b))

True
140579514738304
140579514960832

In [ ]:
x=5
print(x)

5

In [ ]:
x += 4
print(x)

9

In [ ]:
x += 4
print(x)

13

In [ ]:
x -= 3
print(x)

4

In [ ]:
x %= 10
print(x)

4

In [ ]:
#luas persegipanjang
p = float(input("masukkan panjang: "))
l = float(input("masukkan lebar"))
luas= p * l
print("luas persegi panjang adalah:", luas)

masukkan panjang: 30
masukkan lebar10
luas persegi panjang adalah: 300.0

In [ ]:
tinggi = int(input("tinggi segitiga"))
for i in range(1, tinggi +1):
  print("*" * i)

tinggi segitiga30
*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************
*********************
**********************
***********************
************************
*************************
**************************
***************************
****************************
*****************************
******************************

In [ ]:
tinggi = int(input("tinggi belah ktupat: "))
for i in range(1, tinggi, 2):
  print(" " * ((tinggi - i) // 2) + "*" * i)

  for i in range(tinggi, 0, -2):
    print(" " *((tinggi - i)// 2) + "*" * i)

tinggi belah ktupat: 4
 *
****
 **
***
****
 **

In [ ]:
# Input tinggi belah ketupat (setengah dari tinggi diamond) dari pengguna
tinggi_setengah = int(input("Masukkan tinggi setengah dari diamond: "))

# Mencetak bagian atas diamond
for i in range(1, tinggi_setengah + 1):
    print(" " * (tinggi_setengah - i) + "*" * (2 * i - 1))

# Mencetak bagian bawah diamond
for i in range(tinggi_setengah - 1, 0, -1):
    print(" " * (tinggi_setengah - i) + "*" * (2 * i - 1))

Masukkan tinggi setengah dari diamond: 10
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *