<a href="https://colab.research.google.com/github/feyuix/basic-python/blob/main/praktik_type_data_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#type int atau bilangan bulat
data = 8
print(data)
print (type(data))

8
<class 'int'>

In [ ]:
#type float atau bil ddesimal
data = 8.5
print(data)
print (type(data))

8.5
<class 'float'>

In [ ]:
#type data boolean atau biner
data1 = True
dat2 = False
print(data1)
print(type(data))

True
<class 'float'>

In [ ]:
#type string/ kumpulan karakter
# " "
data1 = "ayam"
data2 = "8.5"
data3 = "False"
print(data1)
print(type(data1))

print(data2)
print(type(data2))

print(data3)
print(type(data3))

ayam
<class 'str'>
8.5
<class 'str'>
False
<class 'str'>

In [ ]:
#type data list
#[]

data=["ayam", "kuda", "sapi"]
print(data)
print(type(data))

['ayam', 'kuda', 'sapi']
<class 'list'>

In [ ]:
#tuple ()

data=("ayam","sapi","kuda")
print(data)
print(type(data))

('ayam', 'sapi', 'kuda')
<class 'tuple'>

In [ ]:
#Set {}

data={"ayam","kuda","sapi","kuda"}
print(data)
print(type(data))

{'sapi', 'ayam', 'kuda'}
<class 'set'>

In [ ]:
#dictionary

data= {"mamalia" : "sapi", "unggas" : "ayam", "reptil":"kadal"}
print(data)
print(type(data))

{'mamalia': 'sapi', 'unggas': 'ayam', 'reptil': 'kadal'}
<class 'dict'>